.modal-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;

    .modal {
        height: 10rem;
        width: 8rem;
        background-color: aqua;
    }
}