.modal-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;

    .btn {
        all: unset;
        cursor: pointer;
        padding: .5rem .8rem;
        margin: 1rem;
        background-color: transparent;
        border: 2px solid #626262;
        font-weight: 500;
        font-size: 1.2rem;
    }
}