.forgot-password-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn {
        all: unset;
        cursor: pointer;
        padding: .5rem .8rem;
        margin: 1rem;
        background-color: transparent;
        border: 2px solid #626262;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .btn:hover {
        background-color: #626262;
        color: white;
        transition: all 200ms ease-in-out;
    }

    .input-password {
        height: 2rem;
        width: 25rem;
        padding: .5rem;
        outline: none;
        font-size: 1rem;
        border: 1px solid rgb(167, 167, 167);
    }
}