.navbar {
    width: 100%;
    padding: 1rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .logo {
        cursor: pointer;
    }

    .btn {
        all: unset;
        cursor: pointer;
        padding: .5rem .8rem;
        background-color: transparent;
        border: 2px solid #626262;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .btn:hover {
        background-color: #626262;
        color: white;
        transition: all 200ms ease-in-out;
    }
}